{% extends "base.html" %}
{% set page = "optics" %}
{% set body_class = "suitePage opticsPage" %}
{% block title %}FLUX Aligned Optics{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/motion-atlas/app.css?v={{ build_stamp }}">
  <link rel="prefetch" href="index.html"><link rel="prefetch" href="registry.html"><link rel="prefetch" href="registry.js">
{% endblock %}
{% block pre_header %}<div class="noise"></div>{% endblock %}
{% block status %}
  <span class="status"><i></i><span id="opticState">OPTICAL BENCH READY</span></span>
  <span class="modelTopState" id="modelTopState"><i></i>MODEL CHECKING</span>
  <span class="device">CUDA · B300</span>
{% endblock %}
{% block body %}
<main class="opticsWorkspace">
  {% include "components/optic_controls.html" %}
  {% include "components/optic_stage.html" %}
</main>
<div class="toast" id="toast"></div>
{% endblock %}
{% block scripts %}
  <script src="optics.js?v=20260728x"></script>
{% endblock %}
