{% extends "base.html" %}
{% set page = "visionary" %}
{% set body_class = "motionGovernor visionaryPage" %}
{% block title %}Visionary · FLUX Motion Atlas{% endblock %}
{% block head %}
  <link rel="stylesheet" href="/motion-atlas/governor.css?v={{ build_stamp }}">
  <link rel="stylesheet" href="/motion-atlas/visionary.css?v={{ build_stamp }}">
{% endblock %}
{% block status %}
  <span class="siteGovernor">GEMMA 12B · MULTIMODAL</span>
{% endblock %}
{% block body %}
  <div id="app"></div>
{% endblock %}
{% block scripts %}
  <script type="module" src="/motion-atlas/visionary.js?v={{ build_stamp }}"></script>
{% endblock %}
